body {
    background-color: #eee;
    text-align: center;
    font-family: Rubik, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .form-container {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    color: #1d1f34;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.513), rgb(130, 208, 222));
  }
  
  .table-container {
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    color: #1d1f34;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.513), rgb(130, 208, 222));
  }


  
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  table tr:hover {
    background-color: #f5f5f5;
  }
  
  
  
  button,
  .button-name {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #1d1f34;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    font-weight: bold;
  }
  
  button:focus,
  .button-name:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  button:hover,
  .button-name:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active,
  .button-name:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translate(2px);
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    font-weight: bolder;
  }
  
  .btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  input {
    width: 50%;
    padding: 5px 14px;
    border: 2px solid #201f1d;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.243);
    outline: none;
    color: #1d1f34;
    font-size: 14px;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input:focus {
    border-color: rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input:hover {
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .results-underweight {
    color: blue;
    font-weight: bolder;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .results-underweight:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .results-normal {
    color: rgb(1, 93, 1);
    font-weight: bolder;
    background-color: #fffefe;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .results-normal:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .results-overweight {
    color: rgb(208, 136, 2);
    font-weight: bolder;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .results-overweight:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .results-obese {
    color: red;
    font-weight: bolder;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .results-obese:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  